<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Online Dictionaries: <%= entry["japanisch"] %></h5>
    <p class="card-text">
      <b><%= if not entry["jisho_link"].eql? "-" then link_to "Jisho:", entry["jisho_link"] else "Jisho: " end %></b>
      <% if user_signed_in? && (current_user.try(:admin?) || current_user.try(:vip?)) %>
        <%= best_in_place entry, :jisho, :as => :input %>
      <% else %>
        <%= if entry["jisho"].class == String then entry["jisho"] else entry["jisho"].join(', ') end %>
      <% end %>
      <br>
      <b><%= if not entry["buddhdic_link"].eql? "-" then link_to "Buddhdic:", entry["buddhdic_link"] else "Buddhdic: " end %></b>
      <% if user_signed_in? && (current_user.try(:admin?) || current_user.try(:vip?)) %>
         <%= best_in_place entry, :buddhdic, :as => :input %>
      <% else %>
        <%= entry["buddhdic"].tr('[""]', '') %>
      <% end %>
      <br>
      <b><%= if not entry["cjk_link"].eql? "-" then link_to "CJK:", entry["cjk_link"] else "CJK: " end %></b>
      <% if user_signed_in? && (current_user.try(:admin?) || current_user.try(:vip?)) %>
         <%= best_in_place entry, :cjk, :as => :input %>
      <% else %>
        <%= entry["cjk"].tr('[""]', '') %>
      <% end %>
      <br>
      <% if !entry.dict_comment.blank? && current_user.try(:user?) %>
        <br>
        <b>Comment:</b><br>
        <%= simple_format(strip_tags(entry.dict_comment)) %><br>
      <% end %>
      <% if current_user.try(:admin?) || current_user.try(:vip?) %>
        <br>
        <b>Comment:</b><br>
        <%= best_in_place entry, :dict_comment, :as => :textarea, :display_with => :simple_format %>
        <br>
      <% end %>
    </p>
  </div>
</div>
