<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Japanese: <%= entry.japanese %></h5>
    <p class="card-text">
      <b>English:</b> <%= entry.english %><br>
      <b>Reading:</b> <%= entry.phonetics %><br>
      <b>Page Number:</b> <%= entry.page %><br>
      <% if !@word && !entry.comment.blank? %>
        <br>
        <b>Comment:</b> <%= simple_format(strip_tags(entry.comment)) %><br>
      <% end %>
    </p>
    <% if @word && user_signed_in? && (current_user.try(:admin?) || current_user.try(:vip?)) %>
       <b>Comment:</b><br>
       <%= best_in_place entry, :comment, :as => :textarea, :display_with => :simple_format %>
       <br>
    <% end %>
    <% if @word && user_signed_in? && current_user.try(:user?) && !entry.comment.blank? %>
        <b>Comment:</b>
        <%= simple_format(strip_tags(entry.comment)) %><br>
    <% end %>
    <% if !@word && user_signed_in? %>
      <%= link_to "show entry", details_path(entry.japanese), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
