<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Online Dictionaries: <%= entry["japanisch"] %></h5>
    <p class="card-text">
      <b><%= if not entry["jisho"].eql? "no entry yet" then link_to "Jisho:", entry["jisho_link"] else "Jisho: " end %></b>
      <% if (entry["jisho"].include? "no entry yet") && user_signed_in? && (current_user.try(:admin?) || current_user.try(:vip?)) %>
         <%= form_for(entry) do |f| %>
             <%= f.text_area :jisho, :rows => 2, style: 'width:100%;' %>
             <%= f.submit 'Save', :class => 'btn btn-primary btn-sm' %>
         <% end %>
      <% else %>
        <%= if entry["jisho"].class == String then entry["jisho"] else entry["jisho"].join(', ') end %>
      <% end %>
      <br>
      <b><%= if not entry["buddhdic"].eql? "no entry yet" then link_to "Buddhdic:", entry["buddhdic_link"] else "Buddhdic: " end %></b>
      <% if (entry["buddhdic"].include? "no entry yet") && user_signed_in? && (current_user.try(:admin?) || current_user.try(:vip?)) %>
         <%= form_for(entry) do |f| %>
             <%= f.text_area :buddhdic, :rows => 2, style: 'width:100%;' %>
             <%= f.submit 'Save', :class => 'btn btn-primary btn-sm' %>
         <% end %>
      <% else %>
        <%= entry["buddhdic"].tr('[""]', '') %>
      <% end %>
      <br>
      <b><%= if not entry["cjk"].eql? "no entry yet" then link_to "CJK:", entry["cjk_link"] else "CJK: " end %></b>
      <% if (entry["cjk"].include? "no entry yet") && user_signed_in? && (current_user.try(:admin?) || current_user.try(:vip?)) %>
         <%= form_for(entry) do |f| %>
             <%= f.text_area :cjk, :rows => 2, style: 'width:100%;' %>
             <%= f.submit 'Save', :class => 'btn btn-primary btn-sm' %>
         <% end %>
      <% else %>
        <%= entry["cjk"].tr('[""]', '') %>
      <% end %>
      <br>
      <% if !entry.dict_comment.blank? && current_user.try(:user?) %>
        <br>
        <b>Comment:</b> <%= entry.dict_comment %><br>
      <% end %>
      <% if current_user.try(:admin?) || current_user.try(:vip?) %>
        <br>
        <b>Comment:</b>
        <%= form_for(entry) do |f| %>
           <%= f.text_area :dict_comment, :rows => 10, style: 'width:100%;' %>
           <%= f.submit 'Save', :class => 'btn btn-primary btn-sm' %>
        <% end %>
       <br>
      <% end %>
    </p>
  </div>
</div>
