<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Japanese: <%= entry["japanese"] %></h5>
    <p class="card-text">
      <b>English:</b> <%= entry["english"] %><br>
      <b>Reading:</b> <%= entry["phonetics"] %><br>
      <b>Page Number:</b> <%= entry["page"] %><br>
    </p>
    <% if @word %>
       <b>Comment:</b>
       <%= form_for(entry) do |f| %>
           <%= f.text_area :comment %>
           <%= f.submit 'Save', :class => 'btn btn-primary btn-sm' %>
       <% end %>
       <br>
    <% end %>
    <% if !@word && user_signed_in? %>
      <%= link_to "show entry", details_path(entry["japanese"]), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
