<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Japanese: <%= entry["japanese"] %></h5>
    <p class="card-text">
      <b><%= if not entry["jisho"].eql? "no entry yet" then link_to "Jisho:", entry["jisho_link"] else "Jisho: " end %></b> <%= if entry["jisho"].class == String then entry["jisho"] else entry["jisho"].join(', ') end %>
      <br>
      <b><%= if not entry["buddhdic"].eql? "no entry yet" then link_to "Buddhdic:", entry["buddhdic_link"] else "Buddhdic: " end %></b> <%= entry["buddhdic"].tr('[""]', '') %>
      <br>
      <b><%= if not entry["cjk"].eql? "no entry yet" then link_to "CJK:", entry["cjk_link"] else "CJK: " end %></b> <%= entry["cjk"].tr('[""]', '') %> <br>
      <br>
      <b>Number of Combinations:</b> <%= entry["combinations"].size %><br>
      <b>Combinations:</b><br> <%= if entry["combinations"].class == String then entry["combinations"] else entry["combinations"].join("<br>").html_safe end %><br>
    </p>
  </div>
</div>
